<div class="card p-4 m-4">
          <div class="col-4">
            <h6>Formulario Pedido</h6>
            <button  mat-flat-button color="accent" (click)="openVerlistadoProductos()">
                
                ver listado de prodcutos</button>
           </div>
    <div class="row ">
          <div class="col">
            <form class=""  action="">
                <div class=" card p-2 m">
                    <div class="my-2">
                        <span>Ingrese DNI o Ruc del Cliente</span>
                        <input class="form-control " type="text" name="" id="" placeholder="Ingrese DNI o Ruc del Cliente">
                    </div>
                    
                    <div class=" my-2">
                        <span>Producto</span>
                      
                        <div>
                            <input class="form-control " type="text" name="" id="" placeholder="Ingrese nombre del Producto">
                         
                        </div>
                     
                        <div class=" my-3 d-flex justify-content-end">
                            <button class="btn btn-success">agregar</button>
          
                        </div>
                    </div>
                </div>
                
                <div class="col card mt-4 p-2">
                    <span>Tipo de entrega</span>
                    <div class="" >
                    
                        <div class="">
                            <button class="btn btn-success" type="button"  name="selecciondeenvio" id="entrega1" (click)="habilitarDireccion = (habilitarDireccion==false)? true:false;">{{habilitarDireccion==true?'entrega a domicilio':'Entrega en tienda'}}</button>
            
                            <div class=" my-2" *ngIf="habilitarDireccion==true">
                                <div class="my-2">
                                    <div><input class="form-control" type="text" placeholder="ingresa direccion a enviar">
                                    </div>  
                                    <div class="my-4 ">
                                        <input class="form-control" type="text" placeholder="Distrito">
                                    </div>
                                
                                </div>
                                <div  class="my-4">
                                    <input class="form-control" type="text" placeholder="Teleofno de referencia">
                                </div>
                                <div class="my-4">
                                    <input class="form-control" type="text" placeholder="Persona que recepciona">
                                </div>
                                <div class="my-4">
                                    <input class="form-control" type="text" placeholder="Parentesco">
                                </div>
            
                        
                            </div>
                            <div class="" *ngIf="habilitarDireccion==false">
                                <input class="form-control" type="text" placeholder=" Recojo en tienda con tiket o boleta " disabled >
                        
                            </div>
                        </div>
                        
                    </div>
            
                </div>
            
                </form>
        </div>

        <div class="col-8 ml-auto card mx-3">
           
                <table class="table p-2">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th> 
                                <th>descripcion</th>
                                <th>cant por mayor</th>
                                <th>unidad</th>
                                <th>total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>alicate</td>
                                <td>marca patito color rojo </td>
                                <td><input class="col-sm-7"  type="number"><button mat-icon-button color="primary" (click)="detalleporMayor= (detalleporMayor==true)? false:true;  "><mat-icon>visibility</mat-icon></button>
                                </td>
                                
                              
                                <td><input class="col-sm-4"  type="number"></td>
                                <td>120 unidades</td>
                                <td><button mat-icon-button color="warn" class="mat-icon-button-sm">
                                    <mat-icon>deleted</mat-icon>
                                    </button>
                                </td>
                                </tr>
                             
                                       <tr>
                                        <td *ngIf="detalleporMayor">hola</td>
                                        </tr>                                                
              
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <button mat-icon-button>
                            <mat-icon class="mat-icon-lg" >save</mat-icon>
                          
                        </button>
                    </div>
        </div>
       
                                
        
    </div>

</div>

