<div class=" p-4 ">
          <div class="">
            <h6>Formulario Pedido</h6>
            <button  mat-icon-button color="success" (click)="openVerlistadoProductos()">
                     <mat-icon>book</mat-icon>
            </button>
           </div>
            
                </div> 
   
                <div class="  p-2 m">
                        <div class="my-2">
                        <span>Ingrese DNI o RUC del Cliente</span>
                        <div class="input-group">
                           <form action="">

                            <input [(ngModel)]="rucODni" name="rucODni" class="form-control" type="text" placeholder=" RUC del Cliente">
                            <button (click)="findCliente()" type="submit" mat-flat-button color="primary">
                                <mat-icon class="mat-icon"  >search</mat-icon>
                                    
                            </button>
                         
                             
                           </form>
                            <div >
                               
                                <input [value]="clienteCod"  name="nombre"type="text" placeholder="empresa">
                                <input [value]="nombreCliente" type="text">
                            </div>
                            <br>

                            
                               <!-- <input [value]="clientePersona.apellidos"  name="apellidos" type="text">-->
            
                        </div>
                    </div>
                  
                    

                    
                    
                    
                    
                    <div class=" my-2">
                        <span>Producto</span>
                      
                        <div class="input-group">
                            <input class="form-control " type="text" name="" id="" placeholder="Ingrese nombre del Producto">

                            <button mat-flat-button color="primary">
                                <span class="material-icons">add</span>
                            </button>

                        </div>
                       
                    </div>
                </div>
                
                <div class=" card mt-4 p-2">
                    <span>Tipo de entrega</span>
                    <div class="" >
                    
                        <div class="">
                            <button class=""  mat-stroked-button  color="primary" type="button"  name="selecciondeenvio" id="entrega1" (click)="habilitarDireccion = (habilitarDireccion==false)? true:false;">{{habilitarDireccion==true?'Entrega a domicilio':'Entrega en tienda'}}
                                <mat-icon>car</mat-icon>
                            </button>
            
                            <div class=" my-2" *ngIf="habilitarDireccion==true">
                                <div class="my-2">
                                    <div><input class="form-control" type="text" placeholder="ingresa direccion a enviar">
                                    </div>  
                                    <div class="my-4 ">
                                        <input class="form-control" type="text" placeholder="Distrito">
                                    </div>
                                
                                </div>
                                <div  class="my-4">
                                    <input class="form-control" type="text" placeholder="Teleofno de referencia">
                                </div>
                                <div class="my-4">
                                    <input class="form-control" type="text" placeholder="Persona que recepciona">
                                </div>
                                <div class="my-4">
                                    <input class="form-control" type="text" placeholder="Parentesco">
                                </div>
            
                        
                            </div>
                            <div class="" *ngIf="habilitarDireccion==false">
                                <input class="form-control" type="text" placeholder=" Recojo en tienda con tiket o boleta " disabled >
                        
                            </div>
                        </div>
                        
                    </div>
            
                </div>
            
                
    

       
       
                                
        
    



