<div class="container my-4 ">

    <div class="row align-items-center ">

        <button class="btn btn-success  col-sm-3 m-3" (click)="setHabiliar()">

        {{habilitado? 'Cambiar a Persona ':'Cambiar a Empresa'}}
        </button>

            <div  *ngIf="habilitado; else nothabilitado">
                <h6>Formulario Cliente Persona Juridica o Empresa</h6>
                <div>
             <form (ngSubmit)="crearCliempresa()" class="form-control text-muted">

                    <div class="row m-4">
                                <div class="col-sm-3">
                                    <div> <label class="text-decoration" >Nombres empresa</label></div>
                                <div><input class="form-control"  type="text" [(ngModel)]="clienteempresa.nombre" name="nombre"> </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="ruc">Ruc</label>
                                    <input class="form-control" [(ngModel)]="clienteempresa.ruc" name="ruc" type="text">
                                </div>
                                <div class="col-sm-3">
                                    <label for="direccion">Direccion</label>
                                    <input class="form-control" [(ngModel)]="clienteempresa.direccion" name="direccion"  type="text">
                                </div>
                    </div>

                        <div class="row m-4">
                            <div class="col-sm-3">  <label for="telefono">Telefono</label>
                            <input class="form-control"  [(ngModel)]="clienteempresa.telefono" name="telefono" type="text"></div>
                            <div class="col-sm-3">  <label for="Correo">Correo</label>
                                <input class="form-control" [(ngModel)]="clienteempresa.correo" name="correo" type="text">
                            </div>

                        </div>
                        <div class="mx-4"><button class="btn btn-success" >{{clienteempresa.codEmpresa>0?'Actualizar':'agregar'}}</button></div>

                    </form>
                </div>

            </div>

        <ng-template #nothabilitado>


            <div>
                    <h6>Formulario Clientes Persona natural</h6>
                    <div>
                        <form class="form-control text-muted" (ngSubmit)="guardardPersona()">

                        <div class="row m-4">
                                    <div class="col-sm-3">
                                        <div> <label class="text-decoration" >Nombres</label></div>
                                    <div><input class="form-control"  type="text" [(ngModel)]="personas.nombre" name="nombre"> </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="apellidos">Apellidos</label>
                                        <input class="form-control"  type="text" [(ngModel)]="personas.apellidos" name="apellido">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="DNI">DNI</label>
                                        <input class="form-control"  type="text" [(ngModel)]="personas.dni" name="dni">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="Direccion">Direccion</label>
                                        <input class="form-control"  type="text" [(ngModel)]="personas.direccion" name="direccion">
                                    </div>
                         </div>

                            <div class="row m-4">
                                <div class="col-sm-3">  <label for="telefono">Telefono</label>
                                <input class="form-control"  type="text" [(ngModel)]="personas.telefono" name="telefono">

                              </div>
                                <div class="col-sm-3">  <label for="Correo">Correo</label>


                                    <input class="form-control"  type="text" [(ngModel)]="personas.correo" name="correo">

                                </div>

                            </div>
                            <div class="mx-4"><button class="btn btn-success" >{{(personas.codpersona>0)?'Actualizar':'Crear' }}</button></div>

                        </form>
                    </div>



            </div>
        </ng-template>

</div>
