<div class="container p-4">
    <div class="alert alert-info">
       <h5>nombre del cliente : {{pedido.clientePersona.nombre}}</h5>
       <h5>DNI: {{pedido.clientePersona.dni}}</h5>
       @if (pedido.tipoEntrega.direccion) {
        <h5>Direcion: {{pedido.tipoEntrega.direccion}}</h5>

        } @else {
            <p>Entrega en tienda con DNI</p>
        }

    </div>
    <mat-dialog-content >
  <table class="table table-hover">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Descripcion</th>
            </tr>

        </thead>
        <tbody>
            @for (item of pedido.rowPedidos; track $index) {
              <tr>
                <td> {{item.producto.nombreProducto}}</td>
                <td> {{item.cantidad}}</td>
                <td> {{item.producto.descripcion}}</td>
             </tr>
            }
        </tbody>
    </table>
</mat-dialog-content>

</div>
