<div class="container">
    <div class="alert alert-info my-5">Listado pedidos a recoger en tienda</div>
    <div class="m-5  caja">
        <table class="tabla-personalizada">
            <thead>
                <tr>
                    <th>Cod</th>
                    <th>Fecha</th>
                    <th>cliente</th>
                    <th>DNI</th>
                    <th>Tipo de entrega</th>
                    <th>Estado</th>
                    <th></th>
                    <th></th>
                    </tr>
            </thead>
                <tbody>
                    @for (item of pedidos; track $index) {
                     <tr class="{{item.estado.codEstado===1? 'entregado ':'pendiente'}}">
                        <td>{{item.codPedido}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.clientePersona.nombre}}</td>
                        <td>{{item.clientePersona.dni}}</td>
                        <td><div style="color: rgb(155, 46, 130);" *ngIf="item.tipoEntrega.direccion;else templatetienda">
                             a domicilio
                            </div>
                            <ng-template #templatetienda>
                                    <div  style="color: blue;">en tienda</div>
                            </ng-template>
                            
                            </td>
                            <td >{{item.estado.descripcionEstado}} @if (item.estado.codEstado===2) {<button mat-icon-button (click)="updateEstado(item)" > <mat-icon>edit</mat-icon> </button>}  </td>
                        <td>
                            <button mat-button (click)="openDialog(item.codPedido)" > <mat-icon color="success">book</mat-icon> </button>
                        </td>
                        <td><button mat-button>
                            <mat-icon>delete</mat-icon>
                        </button></td>
                    </tr>  
                    }
                    
                </tbody>
    
        </table>
    
    
    </div>
    
</div>
