<div class="container card p-2">



        <div class=" my-2">
            <div class="my-2">
                <div>
                    <input [(ngModel)]="pedidoFactura.tipoEntrega.direccion" name="direccion" class="form-control" type="text" placeholder="Direccion">
                </div>
                <div class="my-4 ">
                    <input [(ngModel)]="pedidoFactura.tipoEntrega.distrito" name="distrito" class="form-control" type="text" placeholder="Distrito">
                </div>

            </div>
            <div class="my-4">
                <input [(ngModel)]="pedidoFactura.tipoEntrega.telefonoreferencia" name="telefonoreferencia" class="form-control" type="text" placeholder="Teleofno de referencia">
            </div>
            <div class="my-4">
                <input [(ngModel)]="pedidoFactura.tipoEntrega.personarecepcion" name="personarecepcion" class="form-control" type="text" placeholder="Persona que recepciona">
            </div>
            <div class="my-4">
                <input [(ngModel)]="pedidoFactura.tipoEntrega.parentesco" name="parentesco" class="form-control" type="text" placeholder="Parentesco">
            </div>
        </div>

        <div class="">
            <input class="form-control" type="text" placeholder="Recojo en tienda con DNI "
                disabled>

        </div>
        <div> <button class="btn -btn-danger" (click)="closeDialog()">
          <mat-icon>save</mat-icon>
          </button></div>
    </div>
