<div class="">

    <div class="agSlots">
      <div>

      </div>
      <div class="contendedoriconosflotantes">
        <div><button (click)="agregarAndamio()"> <mat-icon class="playlist_add">playlist_add</mat-icon></button>  </div>
        <div><button (click)="productosSinubicacion()" class="ProductosSinUbicacion "><mat-icon class="storage">storage</mat-icon></button></div>

      </div>

    </div>
     @for (andamio of andamios; track $index) {
      @if (andamio.codAndamio !==3) {
        <div class="andamio">
          <button (click)="eliminarAndamio(andamio.codAndamio)"> <mat-icon> deleted</mat-icon> </button>
          {{andamio.codAndamio}}
          @for (piso of andamio.piso; track $index) {
            <div class="piso">

              @for (ubicacion of piso.ubicacion; track $index) {
               <div class="ubicacion">

                  <div class="detalle">
                    @for (detalle of ubicacion.detalleUbicacion; track $index) {
                      {{detalle.codDetalleub}}
                      {{detalle.productos.nombreProducto}}
                      <button (click)="quistardetalleaubicacion(detalle.codDetalleub)"><mat-icon class="iconoActualizar">close</mat-icon>   </button>

                    }
                  </div>

                <div>

               <!-- {{ubicacion.codUbicacion}} -->
               <button (click)="editarContenidoUbicacion(ubicacion,piso,ubicacion)"><mat-icon class="iconoActualizar">refresh</mat-icon>   </button>

                 </div>

               </div>
            }
            </div>

          }
        </div>
      }@else{

      }


     }
</div>

<!---

@for (piso of andamio.piso; track $index) {


                <div class="d-flex piso">
                    <div> <button (click)="editarCotenidoPiso(piso)"><mat-icon class="editarPiso">edit</mat-icon> </button></div>
                    @for (ubicacion of piso.ubicacion; track $index) {

                        <div class="ubicacion d-flex justify-content-between text-white">

                         <button (click)="editarContenidoUbicacion(ubicacion,piso)" >
                          <div>
                          @for (detalle of ubicacion.detalleUbicacion; track $index) {
                            {{detalle.ubicacion.codUbicacion}}
                            {{detalle.productos.nombreProducto}}

                          }
                          </div>
                          <mat-icon class="addDetalleonUbicacion">add</mat-icon> </button>

                           -@for (detalle of ubicacion.detalleUbicacion; track $index) {


                                      <div class="">
                                    @if (detalle.ubicacion.codUbicacion==11) {
                                          <span> din prdcuto</span>
                                    }@else {
                                        {{detalle.productos.nombreProducto}}

                                         {{detalle.ubicacion.codUbicacion}}
                                    }

                                </div>

                            }

                          </div>
                        }
                    </div>
                }

-->
