<div class="">
    <button (click)="productosSinubicacion()" class="ProductosSinUbicacion btn-success " mat-fab color="warn"><mat-icon>storage</mat-icon></button>

     @for (andamio of andamios; track $index) {


      @if(andamio.codAndamio==3){
      }@else {
        <div class="andamio"> {{andamio.codAndamio}}


            @for (piso of andamio.piso; track $index) {


                <div class="d-flex piso">
                    <div> <button (click)="editarCotenidoPiso(piso)"><mat-icon class="editarPiso">edit</mat-icon> </button></div>
                    @for (ubicacion of piso.ubicacion; track $index) {

                        <div class="ubicacion d-flex justify-content-between text-white">
                         <button (click)="editarContenidoUbicacion(ubicacion,piso)" ><mat-icon class="addDetalleonUbicacion">add</mat-icon> </button>

                            @for (detalle of ubicacion.detalleUbicacion; track $index) {
                                      <div class="">
                                    @if (detalle.ubicacion.codUbicacion==11) {
                                    }@else {
                                        {{detalle.productos.nombreProducto}}
                                        {{detalle.codDetalleub}}
                                        {{detalle.ubicacion.codUbicacion}}
                                    }

                                </div>

                            }

                        </div>
                    }
                </div>
            }
        </div>
    }
      }

</div>
