<app-form-custodio></app-form-custodio>
<div class="my-4 container">
    <table class="table table-hover">  
        <thead>
            <tr class="">   
                <th class="text-muted"> Nombres</th> 
                <th class="text-muted">Apellidos<th> 
                <th class="text-muted">DNI</th> 
                <th class="text-muted">Telefono</th> 
                <th class="text-muted">Lisencia</th> 
                <th class="text-muted"><button class="btn btn-light"></button></th> 
            </tr>
        </thead>
        <tbody>
            <tr class="">   
              <!---->  <td class="text-muted">Nombres</td> 
                <td class="text-muted">Apellidos</td> 
                <td class="text-muted">DNI</td> 
                <td class="text-muted">Telefono</td> 
                <td class="text-muted">Correo</td> 
                <td class="text-muted"><button class="btn btn-warning">Editar</button></td> 
                <td class="text-muted"><button class="btn btn-danger">Eliminar</button></td> 
            </tr>
        </tbody>

    </table>
</div>