button{
    background-color: transparent;
    border: none;
}
.selecionarProducto{
    color: rgba(125, 125, 117, 0.822);
}
.selecionarProducto:hover{
    color: rgb(70, 214, 57);
}
.btn-select{
  background-color: green;
}

