

<div class="container my-4 ">

    <div class="row align-items-center ">
      <div>
         <h6>Formulario Productos</h6>
        <div>
            <form class="form-control text-muted" action="">
           
            <div class="row m-4">
                        <div class="col-sm-3">
                            <div> <label class="text-decoration" >Categoria</label></div>
                        <div><select class="form-control"><option value="alguna categorai">asas</option></select> </div> 
                        </div>
                        <div class="col-sm-3">
                            <label for="nombre_producto">nombre del Producto</label>
                            <input class="form-control"  type="text">
                        </div>
                        <div class="col-sm-3">
                            <label for="marca">Marca</label>
                            <input class="form-control"  type="text">
                        </div>
            </div> 
    
              
                <div class="mx-4"><button class="btn btn-success" >Guardar</button></div>
                
            </form>
        </div>
       
    
    
            
    </div> 
    
    </div>